.divRecherche{
    height: 35px;
    border: 1px solid black;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
    background: white;
}

#requete{
    border: none;
    height: 95%;
    width: 93%;
    outline: none;
    position: absolute;
    left: 2%;
    font-weight: 300;
    font-family: 'Roboto Condensed' ,Arial, Helvetica, sans-serif;
    color: rgb(22, 22, 22);
}
#requete:focus{
    outline: transparent;
}
#btnRequete{
    border: none;
    background: none;
    border: 0.5px solid black;
    margin: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    color: black;
    font-size: 20px;
    right: 0;
    top: 0;
}
#result{
    background-color: rgba(255, 255, 255);
    font-size: 15px;
    font-weight: 100;
    border-radius: 10px;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    padding: 1px 0 1px 0;
}
#doc{
    margin: 0;
    overflow: hidden;
    height: 40px;
    margin: 1px 0 1px 0;
}
#doc .lien{
    width: 100%;
}
#doc .lien .divdoc1{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#doc .lien .divdoc1 .titre{
    position: absolue;
    width: 60%;
    left: 0;
    text-align: left;
}
#doc .lien .divdoc1 .score {
    position: absolue;
    width: 35%;
    right: 0;
    color: red;
    text-align: right;
}
#doc .lien{
    height: 100%;
}

hr{
    margin: 1% 2% 1% 2%;
}